/*
-----тсреп------
*/
.footer {
    min-width: 1100px;
    height: 100px;
    margin-top: -77px;
}

.footer__left, .footer__center, .footer__right {
    float: left;
    width: 33.3%;
    /*padding-bottom: 0;*/
}

.footer__center {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}

.footer__right {
    display: inline-block;
    text-align: right;
}

.footer__text {
    color: #fff;
   
}

.text__link {
    font-weight: bold;
    color: #ffffff;
}

.footer__social {
    color: #fff;
    font-weight: bold;
}

.footer__icons {
    font-size: 0;
    padding-right: 40px;
}

.footer__link {
    display: inline-block;
    background: url("../../images/sprites_social.png") no-repeat;
    width: 30px;
    height: 25px;
}

.vk {
    background-position: 0 0;
}

.fb {
    background-position: -147px 0;
}

.google {
    background-position: -97px 0;
}

.twitter {
    background-position: -198px 0;
}

.mail {
    background-position: -47px 0;
}
