/*
-------ОТЗЫВЫ
*/

.maincontent {
    float: left;
    width:880px;
    /*padding-left: 200px;*/
    /*max-width: 935px; !*880+55паддинг*!*/
}

.navigation__links {
    font-size: 14px;
    font-style: italic;
    color: #221f1f;
    opacity: .8;
    text-decoration: none;
}

.navigation__links:active {
    color: #ec1e79;
}

.reviews-title,
.prices-title {
    font-size: 49px;
    color: #221f1f;
}

.reviews__item {
    display: inline-flex;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 27px;
    padding-top: 27px;
    max-width: 880px;
    width: 100%;
}

.reviews__item:first-child {
    padding-top: 0;
}

.reviews__item:last-child {
    border: none;
}

.reviews__image {
    margin-right: 20px;
    /*display: inline-block;*/
    /*vertical-align: top;*/

}

.review__text {
    display: inline-block;
    vertical-align: middle;

}

.review__text p {
    margin: 0;
}

.reviews__data {
    color: #656464;
    font-size: 14px;
}

.reviews__author {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 18px;
}

.reviews__list {
    list-style: none;
    padding-left: 0px;
}

.author-image {
    display: block;
    border-radius: 50%;
}

.pages {
    text-align: center;
    margin-bottom: 70px;
}

.pages__nav, .pages__link {
    display: inline-block;
    text-align: center;
}

.pages__number {
    color: #656464;
    font-size: 14px;
    text-decoration: none;
}

.pages__number__link {
    font-weight: bold;
    font-size: 14px;
    color: #221f1f;
    text-decoration: none;
}

.pages__number__link:active {
    background-color: #27273e;
    color: #ec1e79;
    border-radius: 10%;
}

/*---------СТРАНИЦА--------- */
/*---------О КОМПАНИИ-------*/



.page-image{
    margin-top:-45px;
    position: relative;
}

.page-image__text{
    position: absolute;
    top: 160px;
    left: 67px;
    color: #fff;
    font-size: 49px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.page-text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.page-text ul {
    padding: 0;
    list-style: none;
}

.page-text li {
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 40px;
    background: url('../../img/decor/list-bullet.png') 10px 10px no-repeat;
}

/*.page-text__points {*/
    /*padding-left: 15px;*/
/*}*/

/*.page-text__item {*/
    /*list-style: none;*/
    /*padding-bottom: 15px;*/
/*}*/

/*.page-text__item::before {*/
    /*color: #ec1e79;*/
    /*content: "•";*/
    /*padding-right: 15px;*/

/*}*/

.description {
    background-color: #27273e;
    color: #fff;
    padding: 18px 30px;
    margin-bottom: 67px;
}

.description__pink-text {
    color: #ec1e79;
}

.partners__title {
    font-size: 49px;
    line-height: 1em;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.partners__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.partners__item {
    margin-right: 170px;
    margin-bottom: 62px;
}

.partners__item:nth-of-type(3),
.partners__item:nth-of-type(6) {
    margin-right: 0;
}

.partners__image {
    filter: grayscale(100%);
}

.partners__image:hover {
    filter: none;
}

/*
    -------ТАРИФЫ
*/

.prices__list {
    list-style: none;
}

.prices__title{

    text-transform: uppercase;
    font-size: 24px;
    color: #5dd1f8;
    background-color: #27273e;
    width:250px;
    height: 153px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}


.prices__title1 {
    background: url('../../img/content/team/1.jpg') no-repeat;
}

.prices__title2 {
    background: url('../../img/content/team/2.jpg') no-repeat;
}

.prices__title3 {
    background: url('../../img/content/team/3.jpg') no-repeat;
}

.prices__title4 {
    background: url('../../img/content/team/4.jpg') no-repeat;
}

.prices__title5 {
    background: url('../../img/content/team/5.jpg') no-repeat;
}

.prices__title6 {
    background: url('../../img/content/team/6.jpg') no-repeat;
}

.prices__price-bold {
    font-weight: bold;
    font-size: 18px;
}

.prices__item__description {
    font-size: 14px;
}

.prices__pink-text {
    color: #ec1e79;
}

